<h1 class="mt-4">Usuários</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Cadastro de usuários</li>
  </ol>
  <div class="container">
    <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="success == true">
            Usuário Salvo/Atualizado com sucesso!
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>ID:</label>
            <input type="text" class="form-control"
            [ngModel]="usuario.id" name="id" disabled="true">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Data Cadastro:</label>
            <input type="text" class="form-control"
            [(ngModel)]="usuario.dataCadastro" name="dataCadastro" disabled="true">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Nome:</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>E-mail:</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.email" name="email">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Senha:</label>
            <input type="password" class="form-control" [(ngModel)]="usuario.senha" name="senha">
          </div>
        </div>
      </div>
      <hr>



      <div class="row">

        <div class="col-md-1">
          <div class="form-group">
            <label>Id:</label>
            <input type="text" class="form-control" [ngModel]="cartao.id_cartao" name="id_cartao" disabled="true">
          </div>

        </div>

        <div class="form-group col-md-4">
          <label>Tipo Cartão:</label>
          <select class="form-control" >
            <option [(ngModel)]="cartao.tipoCartao" name="tipoCartao"
              selected>Selecione...</option>
            <option>COMUM</option>
            <option>ESTUDANTE</option>
            <option>TRABALHADOR</option>
          </select>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Cartão:</label>
            <input type="text" class="form-control" [(ngModel)]="cartao.numeroCartao" name="numeroCartao">
          </div>
        </div>

        <div class="col-md-1 form-check form-check-inline" [(ngModel)]="cartao.status" name="status">
          <input class="form-check-input" type="radio" value="1">
          <label class="form-check-label">Ativo</label>
        </div>

        <div class=" col-md-1 form-check form-check-inline">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">Inativo</label>
        </div>

      </div>




      <div class="row">
        <div class="col-md-4">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i> Salvar
          </button>

          <button type="submit" class="btn btn-info ml-1" (click)="voltarParaListagem()">
              <i class="fa fa-arrow-alt-circle-left"></i> Voltar
           </button>
        </div>
      </div>
    </form>
  </div>
