<h1 class="mt-4">Consulta</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Consulta de usuários</li>
  </ol>
  <div class="container">
      <div class="row">
      <div class="col-md-2">
        <button class="btn btn-warning" (click)="novoCadastro()">
          <i class="fa fa-plus"></i> Novo</button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">cartao</button>

                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                  aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                      ...
                      </div>
                    </div>
                  </div>







                <button class="btn btn-primary ml-4">
                  <i class="fa fa-edit"></i>
                </button>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


